

/*
body {
	font-family: Arial, sans-serif;
	font-size: 10pt;
	background-color: #ffffff;
	color: #000000;
	margin: 0;
	padding: 0;
}

h1 {
	width: 600px;
	font-family: Arial, sans-serif;
	font-size: 16pt;
	font-weight: bold;
	color: #000000;
	border-bottom: solid 4px #000000;
}

.question {
	font-weight: bold;
	font-size: 12pt;
}

fieldset {
	border: solid 1px #666666;
	width: 300px;
	padding: 0 10px 10px 10px;
	margin-bottom: 15px;
}

legend {
	color: #ffffff;
	background: #336633;
	border: 1px outset #cccccc;
	padding: 2px 2px 0 2px;
	font-weight: bold;
}



.vote {
	margin-top: 4px;
	padding: 0 0 0 0;
}

.vote p {
	margin-top: 6px;
	margin-bottom: 6px;
}

.errorMessage {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 10pt;
	color: #ff0000;
}

.credit {
	font-family: Arial, sans-serif;
	font-size: 8pt;
	color: #696969;
}

a:link, a:visited, a:active {
	text-decoration: none;
	background: transparent;
}

a:link {
	color: #0000ff;
}

a:visited {
	color: #990099;
}

a:active {
	color: #ff0000;
}

a:link:hover, a:visited:hover, a:active:hover {
	color: #ff0000;
}

input.submit {
	color: #000000;
	background: #99cc99;
	border: 2px outset #cccccc;
}


.pollBar {
	height: 15px;
	background: #ff0000;
	border: 1px solid #000000;
}

#pollBar1 {
	background: #ff0000;
}

#pollBar2 {
	background: #00ff00;
}

#pollBar3 {
	background: #0000ff;
}

#pollBar4 {
	background: #ffff00;
}

#pollBar5 {
	background: #00ffff;
}

#pollBar6 {
	background: #ff00ff;
}

*/

.voteContainer form {
	margin: 0;
}
.voteContainer fieldset {
		width: 100%;
		border: 0px solid black;
		margin: 0;
		padding: 0;
}

.voteContainer .answer {
	float: left;
	font-family: oswald-light, sans-serif;
	width: 42%;
	margin: 0 2%;
	padding: 30px 2%;
	border-top: 4px double #666;
	border-bottom: 4px double #666;
	text-align: center;
	font-size: 27px;
	line-height: 1.3;
}
.voteContainer .answer label {
	cursor: pointer;
}


/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
.voteContainer input[type=radio] {
    display:none; 
    margin:10px;
}
 
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
.voteContainer input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    background-color: white;
    cursor: pointer;
   border: 0px solid white;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
.voteContainer input[type=radio]:checked + label { 
   background-image: none;
   background-color: black;
   border: 0px solid black;
   border-radius: 5px;
   color: white;
}


.voteContainer .answer label.label_selected {
   background-image: none;
   background-color: black;
   border: 0px solid black;
   border-radius: 5px;
   color: white;	
}


.voteContainer .container_submit {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 2em;
	height:0;
	overflow: hidden;
}
.voteContainer .container_submit_active {
	height: 60px;
}
.voteContainer .container_submit > div {
	width: 200px;
	margin: 0 auto;
	padding-left: 26px;
}	
.voteContainer .submit {
  background-color: #fff;
  font: 18px Arial,Helvetica,sans-serif;
  color: #ff2100;
  border: 1px solid #ff2100;
  width: 200px;
  text-align: center;
  padding: 0.8em;
  display: block;
  cursor: pointer;
  float: left;
}
.voteContainer .submit:hover {
  background-color: #ff2100;
  color: #fff;
}

.voteContainer .currentResults {
  background-color: #fff;
  font: 16px Arial,Helvetica,sans-serif;
  color: #666 ;
  border: 1px solid #666;
  width: 200px;
  text-align: center;
  padding: 0.8em;
  display: block;
  cursor: pointer;
  text-decoration: none;
  float: right;
}
.voteContainer .currentResults:hover {
  color: white ;
  background-color: #666;
}
.voteContainer .container_submit p {
	margin:0;
	padding: 0;
}
.container_results {
	width: 100%;
}
.results_poll table {
	width: 100%;
}
.results_poll table tr {
	border-bottom: 1px solid #444;
}
.results_poll table tr:first-child {
	border-top: 1px solid #444;
}
.results_poll {
	width: 75%;
	margin: auto;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.results_poll table td {
	padding: 1em ;
	text-align: left;
}
.pollBar {
	background-color: #555 !important;
	border: 0;
	height: 40px;
}
.pollDescriptionCell {
	font-family: oswald-light, sans-serif;
	font-size: 22px; 
}
.pollCountCell {
	width: 20%;
	font-weight: bold;
}

.go_back {
	position: absolute;
	right:5%;
	bottom: 5%;
	font: normal 1.2em oswald-light,sans-serif;
	cursor: pointer;
	color: black;
}
.go_back:hover {
	color:  #ff2100;	
}
.go_back:visited {
	color:  black;	
}

.newsletter > div {
	margin: 50px auto;
	text-align: center;
	padding: 20px;
	background-color: black;
	color: white;
	font: normal 1.2em oswald-light,sans-serif;
	width: 50%;
}
.newsletter > div strong {
	text-decoration: underline;
}

.newsletter {
	width: 100%;
	float: left;
}
.container_input {
	margin-top: 20px;
}
.container_input .button {
	color: black;
  	padding: 5px 20px 7px;
 	border-radius: 0;
	border: 0;
  	vertical-align: -2px;
  	margin-left: 6px;
}  	
.container_input .button:hover {
	background-color:#e0001b ;
	color: white;
}	
.container_input .input_e-mail {
	border-radius: 0;
	border: 0;
	padding: 5px;
}
.container_input input[type=email] {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 10px;
  color: #666;
}




/* 
Mobile
*/



@media screen and (max-width: 1000px) {	


	.results_poll {
		width: 96%;
		margin: 0 2%;
	}
	.pollDescriptionCell {
		font-size: 3.2vw; 
	}
} 	